#root {
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scrollbar-width: thin;
  background-color: #0a0f1f;
  scrollbar-color: #5ee4ff #121c38;
  color: #fff;
  input {
    color: #fff;
  }
  select {
    color: #fff;
  }
}

h1,
h2,
h3 {
  color: #5ee4ff;
  text-shadow: 0 0 4px #5ee4ff;
}

.App {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 92px;
  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    padding-bottom: 1.5rem;
  }
}

input,
select,
button {
  padding: 0.5rem;
  margin: 0.3rem 0;
  border: 1px solid #3b4f79;
  border-radius: 5px;
  background-color: #101933;
  transition: 0.2s;
}
input:focus,
select:focus {
  outline: none;
  border-color: #00f0ff;
  box-shadow: 0 0 5px #00f0ff;
}

button:hover {
  background-color: #142851;
  border-color: #5ee4ff;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.add-food-form,
.user-form {
  background-color: #121c38;
  border-bottom: 1px solid #1f2a48;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10 px #00e1ff77;
  display: flex;
  flex-direction: column;
  align-items: left;
  button {
    color: #ccc;
  }
}

.food-list {
  gap: 1rem;
  margin-bottom: 1rem;
}
.food-list h2 {
  text-align: center;
}
.food-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 0;
}
.draggrable-item {
  padding: 0.5rem;
  background-color: #0a0f1f;
  border: 1px solid #2d3b5f;
  border-radius: 5px;
  cursor: grab;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-wrap: break-word;
  word-break: break-word;
  box-shadow: 0 0 8px #0a0f1f;
}
.meal-item:hover {
  background-color: #263a69;
  box-shadow: 0 0 5px #0099ff77;
}
.draggrable-container {
  padding: 0.5rem;
  background-color: #0a0f1f;
  border: 1px solid #2d3b5f;
  border-radius: 5px;
  cursor: grab;
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  h4 {
    cursor: grab;
  }
}
.week-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.day-column {
  background: #121c38;
  padding: 1rem;
  border: 1px solid #1f2a48;
  min-height: 150px;
  border-radius: 8px;
  box-shadow: 0 0 8px #0088ff22;
}
.day-column h3 {
  border-bottom: 1 solid #334766;
  margin-top: 0;
  padding-bottom: 0.5rem;
}
.day-column ul {
  list-style: none;
  padding: 0;
}
.day-column li {
  background-color: #1a2d4e;
  border: 1px solid #304160;
  margin: 0.3rem 0;

  padding: 0.5rem;
  border-radius: 5px;
}
.day-column li:hover {
  background-color: #223a6a;
}
.totals {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #8bd7ff;
  text-shadow: 0 0 2px #00f0ff;
}
.totals-semana {
  width: 100%;
  background-color: #223a6a;
  text-align: center;
  padding: 2rem 0;
  margin: 1rem 0;
  border-radius: 15px;
  h3 {
    padding-top: 0;
    margin-top: 0;
  }
}


.grams-input {
  width: 50px;
}
input[type="number"] {
  width: 5rem;
}

.boton-delete-dia {
  background: none;
  border: none;
  color: #ff4343;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.3rem 0 0.3rem;
  margin: 0;
}
.navbar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 92px;
}
h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem 0;
}
.logo {
  width: 60px;
  height: 60px;

  margin: 1rem;
}
.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2a48;
  padding-left: 1rem;
}

.dropdown-toggle {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.5rem;
  height: 3rem;
  min-width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 3rem;
  font-size: 0.9rem;
}

.dropdown-menu {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background-color: #121c38;
  border: 1px solid #ccc;
  padding: 1rem;
  z-index: 100;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35dvw;

  max-height: 90dvh;
  scrollbar-width: thin;
  scrollbar-color: #5ee4ff #121c38;
  border-radius: 15px;
}
.close-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: rgb(192, 33, 33);
  float: right;
  cursor: pointer;
  margin-bottom: 0.5rem;
  align-self: center;
  width: 100%;
}
.close-btn:hover {
  color: #ff4343;
}

.dropdown-toggle:hover {
  background: #5ee4ff;
  color: #0a0f1f;
}
.meal-type {
  min-height: 100px;
  width: 100%;
}
.calorie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  /* padding-bottom: 3rem; */
  h5 {
    margin: 0.2rem;
    font-size: 1rem;
  }
  div {
    border: 1px solid #5ee4ff;
    padding: 0.5rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 5px #00e1ff77;
    display: flex;
    flex-direction: row;

    span {
      font-size: 0.8rem;
      color: #5ee4ff;
    }
  }
}
.modo-container {
  display: flex;
  flex-direction: column;
}
.footer {
  background: #1d2b4f;
  color: #5ee4ff;
  text-align: center;
  padding: 1rem;
}
.buscador-comida {
  width: 200px;
}

.lista-sugerencias {
  position: absolute;
  top: 0;
  left: 220px; /* a la derecha del input */
  background-color: #121c38;
  border: 1px solid #5ee4ff;
  max-height: 200px;
  overflow-y: auto;
  width: 280px;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}



.opcion-comida {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 15px;
}
.opcion-comida:hover {
  background-color: #142851;
}

.boton-anadir-comida {
  margin-top: 5px;
  margin-left: 10px;
}
.boton-editar,
.boton-delete,
.boton-guardar,
.boton-cancelar {
  margin-left: 10px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton-editar {
  background-color: #3b82f6; /* azul */
  color: white;
}
.boton-editar:hover {
  background-color: #2563eb; /* azul más oscuro */
}

.boton-delete {
  background-color: #ef4444; /* rojo */
  color: white;
}
.boton-delete:hover {
  background-color: #dc2626; /* rojo más oscuro */
}

.boton-guardar {
  background-color: #10b981; /* verde */
  color: white;
}
.boton-guardar:hover {
  background-color: #059669; /* verde más oscuro */
}

.boton-cancelar {
  background-color: #6b7280; /* gris */
  color: white;
}
.boton-cancelar:hover {
  background-color: #4b5563; /* gris más oscuro */
}
li {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #1d2b4f;
  border: 1px solid #2d3b5f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  button {
    width: 5rem;
  }
}
.nota-comida {
  font-size: 0.8rem;
  color: #8bd7ff;
  text-align: left;
  margin-top: 0.5rem;
}
@media (max-width: 600px) {
  .lista-sugerencias {
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 100%;
    border-radius: 15px;
    padding: 1rem 0.5rem;
  }
  .navbar-header {
    .nav-btn {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      margin-right: 1rem;
      gap: 0.5rem;
    }

    
    .dropdown-toggle {
      min-width: 0;
      width: 100%;
      padding: 1rem;
      margin: 0;
      background: none;
    }
    .dropdown-toggle:hover {
      background: #007bff;
    }
  }
  button {
    width: 50px;
  }

  span {
    display: none;
  }
  .dropdown-menu{
    width: 300px;
    max-width: 100%;
    top: 3rem;
    .add-food-form{
      button {
        width: 100%;
      }
    }
    
  }
}
.titulo-comida-bloque {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-visibility-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.2rem;
}

